* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_5 {
  width: 700px;
  height: 840px;
  background: rgba(65,51,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v35_6 {
  width: 751px;
  height: 194px;
  background: rgba(217,217,217,0.44999998807907104);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 3px;
  overflow: hidden;
}
.v35_7 {
  width: 257px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 58px;
  left: 337px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v35_12 {
  width: 122px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 319px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v35_13 {
  width: 195px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 438px;
  left: 132px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v35_14 {
  width: 292px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 272px;
  overflow: hidden;
}
.v35_15 {
  width: 292px;
  height: 38px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 438px;
  left: 272px;
  overflow: hidden;
}
.v35_16 {
  width: 506px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 494px;
  left: 136px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v35_28 {
  width: 593px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 272px;
  left: 186px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v35_34 {
  width: 162px;
  height: 48px;
  background: rgba(217,217,217,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 130px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v35_36 {
  width: 162px;
  height: 48px;
  background: rgba(217,217,217,0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 749px;
  left: 405px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v35_38 {
  width: 69px;
  color: rgba(4,3,3,1);
  position: absolute;
  top: 758px;
  left: 452px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_3 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 758px;
  left: 186px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v37_42 {
  width: 250px;
  height: 108px;
  background: url("../images/v37_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 3px;
  overflow: hidden;
}
