* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_3 {
  width: 720px;
  height: 1575px;
  background: rgba(65,51,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v24_34 {
  width: 646px;
  height: 279px;
  background: url("../images/v24_34.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 338px;
  left: 43px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2199999988079071);
  overflow: hidden;
}
.v24_32 {
  width: 646px;
  height: 279px;
  background: url("../images/v24_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 697px;
  left: 33px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2199999988079071);
  overflow: hidden;
}
.v24_30 {
  width: 646px;
  height: 279px;
  background: url("../images/v24_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.10000000149011612;
  position: absolute;
  top: 1075px;
  left: 37px;
  border: 1px solid rgba(0,0,0,1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2199999988079071);
  overflow: hidden;
}
.v13_8 {
  width: 680px;
  height: 150px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v13_10 {
  width: 680px;
  height: 150px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_20 {
  width: 87px;
  height: 20px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 547px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v17_25 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 504px;
  left: 560px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_14 {
  width: 321px;
  color: rgba(3,2,2,1);
  position: absolute;
  top: 426px;
  left: 316px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v17_6 {
  width: 227px;
  height: 148px;
  background: url("../images/v17_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 398px;
  left: 20px;
  overflow: hidden;
}
.v13_12 {
  width: 680px;
  height: 150px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_12 {
  width: 227px;
  height: 148px;
  background: url("../images/v17_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 20px;
  overflow: hidden;
}
.v17_3 {
  width: 227px;
  height: 148px;
  background: url("../images/v17_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 20px;
  overflow: hidden;
}
.v17_5 {
  width: 433px;
  color: rgba(3,2,2,1);
  position: absolute;
  top: 149px;
  left: 312px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v17_19 {
  width: 94px;
  height: 607px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 529px;
}
.v21_24 {
  width: 95px;
  height: 606px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 1139px;
  left: 526px;
}
.v17_24 {
  width: 64px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 232px;
  left: 551px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_18 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 817px;
  left: 540px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_26 {
  width: 323px;
  color: rgba(3,2,2,1);
  position: absolute;
  top: 736px;
  left: 314px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v17_27 {
  width: 680px;
  height: 150px;
  background: rgba(217,217,217,0.5199999809265137);
  opacity: 1;
  position: absolute;
  top: 1026px;
  left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_28 {
  width: 227px;
  height: 148px;
  background: url("../images/v17_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1027px;
  left: 20px;
  overflow: hidden;
}
.v17_30 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1139px;
  left: 548px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v17_31 {
  width: 322px;
  color: rgba(3,2,2,1);
  position: absolute;
  top: 1060px;
  left: 314px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v21_14 {
  width: 79px;
  height: 23px;
  background: rgba(255,255,255,0.4699999988079071);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 45px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v21_15 {
  width: 34px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 52px;
  left: 68px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_5 {
  width: 73px;
  height: 21px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 814px;
  left: 345px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v24_6 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 817px;
  left: 348px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_8 {
  width: 88px;
  height: 19px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 1139px;
  left: 316px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v24_9 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1139px;
  left: 326px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_10 {
  width: 86px;
  height: 20px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 226px;
  left: 323px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v24_11 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 228px;
  left: 332px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v24_12 {
  width: 87px;
  height: 20px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 502px;
  left: 316px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v24_13 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 504px;
  left: 326px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
